.footer {
    height: 50px;
    border-top: 1px solid var(--stoneWhite);
    padding: 15px;
    text-align: center;
}

.githubContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.githubContainer:hover {
    color: var(--stoneWhite)
}

.githubIconLight,
.githubIconDark {
    width: 25px;
}

.light .githubIconLight,
.githubIconDark {
    display: none;
}

.githubIconLight,
.light .githubIconDark {
    display: inline;
}

.author {
    padding-top: 15px;
    padding-bottom: 15px;
}